.gallery-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gallery-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #151515;
}
.gallery-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.gallery-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.gallery-navlink1 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-family: "Poppins";
  margin-right: mixed;
  padding-right: 0px;
  text-decoration: none;
}
.gallery-navlink2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: mixed;
  padding-right: 0px;
  text-decoration: none;
}
.gallery-text10 {
  color: #d2ffd2;
  font-size: 24px;
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: mixed;
  padding-right: 0px;
}
.gallery-text11 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: mixed;
  padding-right: 0px;
}
.gallery-text12 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: mixed;
  padding-right: 0px;
}
.gallery-burger-menu {
  display: none;
}
.gallery-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gallery-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gallery-logo {
  height: 2rem;
}
.gallery-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-login {
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .gallery-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-desktop-menu {
    display: none;
  }
  .gallery-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-text15 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text18 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .gallery-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .gallery-mobile-menu {
    padding: 16px;
  }
}
